.App {
  text-align: center;
  
}

.wrapper{
  width: 390px;
  height: 550px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 10px 50px rgb(0 0 0 / 30%);
  overflow: hidden;
}

.weather-header{
  padding-bottom: 20px;
  border-bottom: 2px #eee solid;
}

.weather-body{
  text-align: center;
  padding-top: 30px;
  color: #555;
}

.weather-footer{
  color: #555;
  padding: 0;
  margin: 0;
  position: relative;
  top: 20px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 20px;
  border-top: 2px #eee solid;
}
